<h1>Listado de Productos </h1>






<div class="container">
<div class="row">
<% @product.each_slice(4) do |row| %>
<% row.each do |product| %>
<div class="col">
<div class="w-100" style="margin-top:20px;">
<div class="card" style="width: 18rem;">
  <img src="<%= product.image %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= product.name %></h5>
    <p class="card-text"><%= product.description %></p>
    <p class="card-text"><%= product.price %></p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">Comprar</a>
    <%= link_to "Agregar al carro", product_orders_path(product), class: 'btn btn-success', method: :post  %>
  </div>
</div>
</div>
</div>
<% end %>
<% end %>
  </div>
  </div>
